{% extends "templates/website-template.html" %}

{% block content %}
<section class="util-margin-top-30">
	<img src="{{ url_for('static', filename='images/stop-sign.png') }}" alt="stop sign directing traffic to stop">
	<caption>Photo by Paweł Czerwiński on Unsplash</caption>
</section>

<section class="page-header">
	<h1>Page Not Found</h1>
	<div class="overline">Error 404</div>

	<p class="objective-paragraph">Sorry, it looks like took a wrong turn. Please use the navigation at the top of this
		page to go back to main website and try again.</p>
</section>
{% endblock %}