{% extends "templates/website-template.html" %}

{% block page %}
<div class="body__container article__container">
	<div class="card card--course util-margin-top-30">
		<div class="card__title">
			<div class="card__title--main">Article 01</div>
		</div>

		<div class="card__content">
			<p>Write a web scraper that creates a YouTube playlist based on songs in your Shazam library.</p>
		</div>

		<div class="card__button">
			<a class="button" href="{{ url_for('article_01.welcome') }}">go to article</a>
		</div>
	</div>

	<div class="card--course__connector">
		<div></div>
		<div></div>
	</div>

	<div class="card card--course">
		<div class="card__title">
			<div class="card__title--main">Article 02</div>
		</div>

		<div class="card__content">
			<p>Populate article content with JSON</p>
		</div>

		<div class="card__button">
			<a class="button" href="{{ url_for('article_02_welcome') }}">go to article</a>
		</div>
	</div>
</div>
{% endblock %}