{% extends "templates/article-template.html" %}

{% block page %}
<h1>Resource</h1>

<div class="card util-margin-vert-60">
    <div class="card__title">
        <i class="material-icons md-36">sports</i>
        <div class="card__title--main">Quick Break</div>
    </div>
    <div class="card__content">
        <p>Be sure to update the .gitignore file from the repo</p>
    </div>
</div>

<div class="card util-margin-vert-60">
    <div class="card__title">
        <i class="material-icons md-36">image</i>
        <div class="card__title--main">Figure 1.0</div>
    </div>
    <div class="card__image">
        <img src="./images/hello-world.png" alt="python video">
    </div>
    <div class="card__content">
        <p>And you should see your basic "Hello world" app in action on
            <a href="http://localhost:5000/">http://localhost:5000/</a>.</p>
        <p>
            <span class="tooltipped tooltip" data-position="top" data-tooltip="In the terminal: Ctrl+C">Kill
                the server</span> when you're done.
        </p>
    </div>

    <div class="card__button">
        <button>button</button>
        <button>button</button>
    </div>
</div>


<div class="card util-margin-vert-60">
    <div class="card__title">
        <i class="material-icons md-36">image</i>
        <div class="card__title--main">Figure 2.0</div>
    </div>
    <div class="card__image">
        <img src="./images/hello-world.png" alt="python video">
    </div>
    <div class="card__content">
        <p><a href="http://localhost:5000/">http://localhost:5000/henry</a> will return "Hello Henry"
        </p>
    </div>
</div>

<h3 id="local-settings">3.1.0 Local Settings</h3>

<div class="sub-h6">Local:</div>
<code>
    $ python app.py<br/>
    config.DevelopmentConfig
</code>

<div class="sub-h6">Staging:</div>
<code>
    $ heroku run python app.py --app wordcount-stage<br/>
    Running python app.py on wordcount-stage... up, run.7699
    config.StagingConfig
</code>

<div class="sub-h6">Production:</div>
<code>
    $ heroku run python app.py --app wordcount-pro
    Running python app.py on wordcount-pro... up, run.8934
    config.ProductionConfig
</code>
{% endblock %}