{% extends "templates/article-template.html" %}

{% block page %}
<section>
    <img src="https://images.unsplash.com/photo-1461711513774-c78b437a740b?crop=entropy&cs=tinysrgb&fit=crop&fm=jpg&h=600&ixid=eyJhcHBfaWQiOjF9&ixlib=rb-1.2.1&q=80&w=1600" alt="random picture">
</section>

<section class="page-header">
    <h1>Python Web Scraper</h1>
    <div class="overline">Category: Series</div>

    <p class="objective-paragraph">Welcome! The <strong>objective</strong> of this tutorial is to build web scraper that creates a YouTube playlist based on songs in your Shazam library</p>
</section>

<div class="card card--course utl-margin-top-30">
    <div class="card__title">
        <div class="card__title--main">Chapter One</div>
    </div>
    <div class="card__content">
        <p>Set up project folder and write the code that crawls through your Shazam libray.</p>
    </div>

    <div class="card__button">
        <div class="button">
            <a href="{{ url_for('article_01_chapter_01') }}">go to chapter</a>
        </div>
    </div>
</div>

<div class="card--course__connector">
    <div></div>
    <div></div>
</div>

<div class="card card--course">
    <div class="card__title">
        <div class="card__title--main">Chapter Two</div>
    </div>
    <div class="card__content">
        <p>Set you YouTube account to accept incoming data and create or add songs to a specified playlist.</p>
    </div>
    <div class="card__button">
        <div class="button">
            <a href="#">go to chapter</a>
        </div>
    </div>
</div>

<div class="card--course__connector">
    <div></div>
    <div></div>
</div>

<div class="card card--course card--course__success">
    <div class="card__title">
        <div class="card__title--main h1">Complete</div>
    </div>
</div>

<hr />
<h2 id="conclusion">Course Updates</h2>
<table class="utl-margin-bottom-60">
    <tr>
        <th>Date</th>
        <th>Description</th>
    </tr>
    <tr>
        <td>03/22/2016</td>
        <td>
            <ul>
                <li>Upgraded to Python version 3.5.1</li>
                <li>Added autoenv version 1.0.0</li>
            </ul>
        </td>
    </tr>
    <tr>
        <td>02/22/2015</td>
        <td>Added Python 3 support</td>
    </tr>
</table>
{% endblock %}