{% extends "templates/article-template.html" %}

{% block navigation %}
{{super()}}
<section>
    <nav class="navigation util-margin-top-30">
        <ul class="navigation__menu-list">
            <li>
                <a href="{{ url_for( navigation.welcome_link ) }}">
                    <div class="navigation--title">welcome</div>
                </a>
            </li>
            <li>
                <a href="{{ url_for( chapters[0].chapter_link ) }}">
                    <div class="navigation--title">get started</div>
                </a>
            </li>
            <li>
                <a href="{{ url_for( navigation.resource_link ) }}">
                    <div class="navigation--title">resources</div>
                </a>
            </li>
        </ul>
    </nav>
</section>
{% endblock %}

{% block page %}
<section class="page-header">
    <h1>Step {{ chapters[0].number }}</h1>
    <div class="overline">{{ title }}</div>

    <p class="objective-paragraph">Welcome! The <strong>objective</strong> of this step is to set up project folder and write the code that crawls through your Shazam libray.</p>
</section>

<section class="table-of-contents">
    <h2 class="table-of-contents__title">Table of Contents</h2>
    <ul>
        {% for header in step_one.article_headers %}
        <li>
            <a href="{{ url_for( chapters[0].chapter_link )}}#{{ header.link }}">{{ header.header }}</a>
        </li>
        {% endfor %}
    </ul>
</section>

<section class="callout-section util-padding-vert-50">
    <div class="callout callout__content callout_get_code">
        <i class="material-icons">
            code
        </i>
        <p>Need the code? Grab it from the repo.</p>
    </div>

    <div class="callout callout__content callout_get_code">
        <i class="material-icons">
            video_library
        </i>
        <p>Watch the tutorial video on YouTube</p>
    </div>
</section>

<section class="tutorial-body">

    <hr>

    <h2 id="{{ step_one.article_headers[0].link }}">1.0.0 {{ step_one.article_headers[0].header }}</h2>
    <p>Let's begin with the project's folder architecture</p>

    <div class="card util-margin-vert-60">
        <div class="card__title">
            <i class="material-icons md-36">flag</i>
            <div class="card__title--main">In This Article</div>
        </div>

        <div class="card__content">
            <p>Even though we'll go through them, you should have some familiarity with the following tools</p>

            <ul>
                <li class="inine-list">JSON Module -
                    <a class="straight-link" href="https://docs.python.org/3/library/json.html">
                        Learn More
                        <i class="material-icons md-18">open_in_new</i>
                    </a>
                </li>
                <li class="inine-list">Unpacking Functions -
                    <a class="straight-link" href="https://book.pythontips.com/en/latest/args_and_kwargs.html">
                        Learn More
                        <i class="material-icons md-18">open_in_new</i>
                    </a>
                </li>
                <li class="inine-list">app.get_resource() -
                    <a class="straight-link" href="https://flask.palletsprojects.com/en/1.1.x/api/#flask.Flask.open_resource">
                        Learn More
                        <i class="material-icons md-18">open_in_new</i>
                    </a>
                </li>
            </ul>
        </div>
    </div>

    <div class="micro-step">
        <strong>1.0.1</strong>
        <p>Set up your working directory</p>
        <code>$ mkdir json-project && cd json-project</code>
    </div>

    <div class="micro-step">
        <strong>1.0.2</strong>
        <p>Create a new file</p>
        <code>$ touch app.py </code>
    </div>

    <div class="micro-step">
        <strong>1.0.3</strong>
        <p>Add whatever JSON data you want to work with. In this case we'll use the following code. Save it as `data.json`.</p>
        <code>
            {<br/>
            &#8195;"title": "Working with JSON",<br/>
            &#8195;"category_type": "one-shot",<br/>
            &#8195;"objective_paragraph": "to use JavaScript Object Notation ( JSON ) to populate rubric elements of articles&#8195;",<br/>
            &#8195;"chapters": [<br/>
            &#8195;&#8195;{<br/>
            &#8195;&#8195;&#8195;"number": "One",<br/>
            &#8195;&#8195;&#8195;"teaser": "Set up the project archetechture and functions to accept JSON as data and populate the view template with such data.",<br/>
            &#8195;&#8195;&#8195;"chapter_link": "article_02_chapter_01"<br/>
            &#8195;&#8195;}<br/>
            &#8195;]<br/>
            }<br/>
        </code>
    </div>

    <p>Having both files in the same directory will give you the following structure</p>
    <code>
        json-project<br />
        ├── app.py<br/>
        ├── data.json<br/>
    </code>


    <p class="util-margin-top-30">With our project folder set up with the basics let's start codeing!!!</p>

    <hr />

    <h2 id="{{ step_one.article_headers[1].link }}">2.0.0 {{ step_one.article_headers[1].header }}</h2>

    <p>In this step we will imoprt the JOSN module and select the resource we want to import.</p>

    <div class="micro-step">
        <strong>2.0.1</strong>
        <p>Import the JSON module by adding this to the top of your file</p>
        <code>import json</code>
    </div>

    <p>We're going to use one of Flask's function called `open_resource()`. </p>

    <div class="micro-step">
        <strong>2.0.2</strong>
        <p>Open up the inspecter tool</p>
        <code>
        with app.open_resource("./data.json", "r" ) as data_file:<br/>
        &#8195;data = json.load(data_file)
        </code>
    </div>

    <!-- 
        how does app.open_resource work
        how do I use app.open_resource
        what's the file path of app.open_resource
    -->

    <div class="micro-step">
        <strong>2.0.3</strong>
        <p>To pass the information to the template and the page add this to the router</p>
        <code>
            @app.route('/article-02/welcome')<br/>
            def article_02_welcome():<br/>
            &#8195;return render_template("article-02/welcome.html", **data)
        </code>
    </div>

    <div class="micro-step">
        <strong>2.1.0</strong>
        <p>Run the app to test if it works. You should see simular results to figure 5.0</p>
        <code>
            $ python app.py
        </code>
    </div>

    <div class="card util-margin-vert-60">
        <div class="card__title">
            <i class="material-icons md-36">image</i>
            <div class="card__title--main">Figure 5.0</div>
        </div>
        <div class="card__image">
            <img src="https://source.unsplash.com/800x400/daily" alt="python video">
        </div>
    </div>

    <hr>

    <h2 id="intro-to-beautifulsoup">3.0.0 Intro to BeautifulSoup4 Methods</h2>

    <p>Beautiful Soup is a Python library for pulling data out of HTML and XML files. It works with your favorite parser to provide idiomatic ways of navigating, searching, and modifying the parse tree.</p>

    <p>Beautiful Soup defines a lot of methods for searching the parse tree, but they're all very similar. I'm going to spend a lot of time explaining the two most popular methods: find() and find_all(). The other methods take almost exactly the same arguments, so I’ll just cover them briefly.</p>

    <p>The find_all() method looks through a tag's descendants and retrieves all descendants that match your filters. I gave several examples in Kinds of filters, but here are a few more:</p>

    <p>Some attributes, like the data-* attributes in HTML 5, have names that can’t be used as the names of keyword arguments:</p>

    <code>
        data_soup = BeautifulSoup('&lt;div data-foo="value"&gt;foo!&lt;/div&gt;')<br/>
        data_soup.find_all(data-foo="value")<br/>
        >> SyntaxError: keyword can't be an expression
    </code>

    <p>You can use these attributes in searches by putting them into a dictionary and passing the dictionary into find_all() as the attrs argument:</p>

    <code>
        data_soup.find_all(attrs={"data-foo": "value"})<br/>
        >> [&lt;div data-foo="value"&gt;foo!&lt;/div&gt;]
    </code>

    <div class="micro-step">
        <strong>3.0.1</strong>
        <p>Open up app.py in your favorite editor and add the following code</p>
        <code>
            artist_list = []<br/>
            title_list = []<br/><br/>

            track_list = zip(title_list, artist_list)<br/>
            track_dict = {}<br/><br/>

            with open('./shazam.html', 'r') as shazamFile:<br/>
            &#8195;shazamSoup = BeautifulSoup(shazamFile, 'html.parser')<br/><br/>
    
            &#8195;# get `details` div<br/>
            &#8195;&#8195;details = shazamSoup.find_all('div', attrs={'class':'details'})<br/><br/>

            &#8195;for i in details:<br/>
            &#8195;# loop through `details` div and get `artist` div<br/>
            &#8195;artist = i.find('div', attrs={'class':'artist'})<br/><br/>
    
            &#8195;# loop through `artist` div and get a.text<br/>
            &#8195;try:<br/>
            &#8195;&#8195;artist_list.append(" ".join(artist.a.text.split()))<br/>
            &#8195;except AttributeError:<br/>
            &#8195;&#8195;artist_list.append(" ")<br/><br/>
    
    
            &#8195;# loop through `details` div and get `title` div<br/>
            &#8195;title = i.find('div', attrs={'class':'title'})<br/><br/>
    
            &#8195;# loop through `title` div and get a.text<br/>
            &#8195;try:<br/>
            &#8195;&#8195;title_list.append(" ".join(title.a.text.split()))<br/>
            &#8195;except AttributeError:<br/>
            &#8195;&#8195;title_list.append(" ")

            track_dict.update(list(track_list))
        </code>
    </div>

    <p>Output of `details = shazamSoup.find_all('div', attrs={'class':'details'})`</p>

    <code>
        &lt;div class="details details grid grid-vertical grid-space-between"&gt;<br/>
        &#8195;&lt;div class="title" data-track-title=""&gt;<br/>
        &#8195;&#8195;&lt;meta content="No Necesitas A Carlo" itemprop="name"/&gt;<br/>
        &#8195;&#8195;&lt;a class="ellip" data-shz-beacon="type=nav,providerdesc=track-click,label=details" href="https://www.shazam.com/track/47131805/no-necesitas-a-carlo"&gt;No Necesitas A Carlo&lt;/a&gt;<br/>
        &#8195;&lt;/div&gt;<br/><br/>

        &#8195;&lt;div class="artist" data-track-artist="40173391" itemprop="byArtist" itemscope="" itemtype="http://schema.org/MusicGroup"&gt;<br/>
        &#8195;&#8195;&lt;meta content="banda-pequeños-musical" itemprop="name"/&gt;<br/>
        &#8195;&#8195;&lt;a class="ellip" data-shz-beacon="type=nav,providerdesc=artist-click,label=from-track" href="https://www.shazam.com/artist/40173391/banda-pequeños-musical" itemprop="url"&gt;Banda Pequeños Musical&lt;/a&gt;<br/>
        &#8195;&lt;/div&gt;<br/>
        &lt;/div&gt;
    </code>

    <p>We want to tagetd the `div` with the class of `title` and `artist`. We do that by calling `CLASS_NAME = i.find('div', attrs={'class':'CLASS_NAME'})`</p>

    <p>The output for the artist is:</p>

    <code>
        &#8195;&lt;div class="artist" data-track-artist="40173391" itemprop="byArtist" itemscope="" itemtype="http://schema.org/MusicGroup"&gt;<br/>
        &#8195;&#8195;&lt;meta content="banda-pequeños-musical" itemprop="name"/&gt;<br/>
        &#8195;&#8195;&lt;a class="ellip" data-shz-beacon="type=nav,providerdesc=artist-click,label=from-track" href="https://www.shazam.com/artist/40173391/banda-pequeños-musical" itemprop="url"&gt;Banda Pequeños Musical&lt;/a&gt;<br/>
        &#8195;&lt;/div&gt;
    </code>

    <p>The output for the title is:</p>

    <code>
        &#8195;&lt;div class="title" data-track-title=""&gt;<br/>
        &#8195;&#8195;&lt;meta content="No Necesitas A Carlo" itemprop="name"/&gt;<br/>
        &#8195;&#8195;&lt;a class="ellip" data-shz-beacon="type=nav,providerdesc=track-click,label=details" href="https://www.shazam.com/track/47131805/no-necesitas-a-carlo"&gt;No Necesitas A Carlo&lt;/a&gt;<br/>
        &#8195;&lt;/div&gt;
    </code>

    <p>Then we want to target the `&lt;a&gt;` of each object. We do that with the following code.</p>

    <code>
        artist.a.text
    </code>

    <p>Since we have the `&lt;a&gt;` isolated we can look for the text at the same time. The final output being:</p>

    <code>
        Banda Pequeños Musical
    </code>

    <p>But you'll see that some of the title has spaces in between them. This is white spaces genereated by being rendered in HTML. To fix this we split all the words in the string and rejoin them with a singular space. Once we have the string how we want it, we append it to the empty array.</p>

    <p>Another issue we run into is that not all `<div>` are filled with data. We have the added issue of the program stopping with an AttributeError. To fix this we will implament a try and except block to handle the issue.</p>

    <p>Now we have two arrays, we need a way to pair the title with the artist. Visually we align the two arrays and pair them together. It looks like a zipper running down the arrays.</p>

    <div class="card util-margin-vert-60">
        <div class="card__title">
            <i class="material-icons md-36">image</i>
            <div class="card__title--main">Figure 6.0</div>
        </div>
        <div class="card__image">
            <img style="max-width: 350px; margin:0 auto;" src="{{ url_for('static', filename='images/zip.png')}}" alt="python video">
        </div>
    </div>

    <p>Now that we have the basic code. We can quickly export it as JSON in the next step</p>

    <hr />

    <h2 id="exporting-data-to-json">4.0.0 Exporting Data to JSON</h2>

    <div class="micro-step">
        <strong>4.0.1</strong>
        <p>Update your app.py code at the end of the file. The output should look like Figure 6.0</p>
        <code>
        with open('./track-list.json', 'w') as trackFile:<br/>
        &#8195;trackFile.write(json.dumps(track_dict))
        </code>
    </div>

    <div class="card util-margin-vert-60">
        <div class="card__title">
            <i class="material-icons md-36">image</i>
            <div class="card__title--main">Figure 7.0</div>
        </div>
        <div class="card__image">
            <img src="https://source.unsplash.com/800x400/daily" alt="python video">
        </div>
    </div>

    <hr />

    <h2 id="conclusion">Conclusion</h2>
    <p>With the setup out of the way, we're going to start to build out the word counting functionality of this app. In the next step we're going to set up our YouTube account to recive incoming data. We're also going to add the posting functionality.</p>

    <section class="callout-section">
        <div class="callout callout__content callout_get_code">
            <i class="material-icons">
                code
            </i>
            <p>Need the code? Grab it from the repo.</p>
        </div>

        <div class="callout callout__content callout_get_code">
            <i class="material-icons">
                video_library
            </i>
            <p>Watch the tutorial video on YouTube</p>
        </div>
    </section>

</section>
</hr>
{% endblock %}