{% extends "templates/article-template.html" %}

{% block navigation %}
{{super()}}
<section>
	<nav class="navigation util-margin-top-30">
		<ul class="navigation__menu-list">
			<li>
				<a href="{{ url_for( navigation.welcome_link ) }}">
					<div class="navigation--title">welcome</div>
				</a>
			</li>
			<li>
				<a href="{{ url_for( chapters[0].chapter_link ) }}">
					<div class="navigation--title">get started</div>
				</a>
			</li>
			<li>
				<a href="{{ url_for( navigation.resource_link ) }}">
					<div class="navigation--title">resources</div>
				</a>
			</li>
		</ul>
	</nav>
</section>
{% endblock %}

{% block page %}
<section class="page-header">
	<h1>Step {{ chapters[0].number }}</h1>
	<div class="overline">{{ title }}</div>

	<p class="objective-paragraph">Welcome! The <strong>objective</strong> of this step is to set up project folder and write the code that crawls through your Shazam libray.</p>
</section>

<section class="table-of-contents">
	<h2 class="table-of-contents__title">Table of Contents</h2>
	<ul>
		{% for header in step_one.article_headers %}
		<li>
			<a href="{{ url_for( chapters[0].chapter_link )}}#{{ header.link }}">{{ header.header }}</a>
		</li>
		{% endfor %}
	</ul>
</section>

<section class="callout-section util-padding-vert-50">
	<div class="callout callout__content callout_get_code">
		<i class="material-icons">
			code
		</i>
		<p>Need the code? Grab it from the repo.</p>
	</div>

	<div class="callout callout__content callout_get_code">
		<i class="material-icons">
			video_library
		</i>
		<p>Watch the tutorial video on YouTube</p>
	</div>
</section>

<section class="tutorial-body">

	<hr>

	<h2 id="{{ step_one.article_headers[0].link }}">1.0.0 {{ step_one.article_headers[0].header }}</h2>

	<div class="card util-margin-vert-60">
		<div class="card__title">
			<i class="material-icons md-36">flag</i>
			<div class="card__title--main">In This Article</div>
		</div>

		<div class="card__content">
			<p>Even though we'll go through them, you should have some familiarity with the following tools</p>

			<ul>
				<li class="inine-list">JSON Module -
					<a class="straight-link" href="https://docs.python.org/3/library/json.html">
						Learn More
						<i class="material-icons md-18">open_in_new</i>
					</a>
				</li>
				<li class="inine-list">Unpacking Functions -
					<a class="straight-link" href="https://book.pythontips.com/en/latest/args_and_kwargs.html">
						Learn More
						<i class="material-icons md-18">open_in_new</i>
					</a>
				</li>
				<li class="inine-list">app.get_resource() -
					<a class="straight-link" href="https://flask.palletsprojects.com/en/1.1.x/api/#flask.Flask.open_resource">
						Learn More
						<i class="material-icons md-18">open_in_new</i>
					</a>
				</li>
			</ul>
		</div>
	</div>

	<div class="micro-step">
		<strong>1.0.1</strong>
		<p>Set up your working directory</p>
		<code>$ mkdir json-project && cd json-project</code>
	</div>

	<div class="micro-step">
		<strong>1.0.2</strong>
		<p>Create a new file</p>
		<code>$ touch app.py </code>
	</div>

	<div class="micro-step">
		<strong>1.0.3</strong>
		<p>Add whatever JSON data you want to work with. In this case we'll use the following code. Save it as `data.json`.</p>
		<code>
            {<br/>
            &#8195;"title": "Working with JSON",<br/>
            &#8195;"category_type": "one-shot",<br/>
            &#8195;"objective_paragraph": "to use JavaScript Object Notation ( JSON ) to populate rubric elements of articles&#8195;",<br/>
            &#8195;"chapters": [<br/>
            &#8195;&#8195;{<br/>
            &#8195;&#8195;&#8195;"number": "One",<br/>
            &#8195;&#8195;&#8195;"teaser": "Set up the project archetechture and functions to accept JSON as data and populate the view template with such data.",<br/>
            &#8195;&#8195;&#8195;"chapter_link": "article_02_chapter_01"<br/>
            &#8195;&#8195;}<br/>
            &#8195;]<br/>
            }<br/>
        </code>
	</div>

	<p>Having both files in the same directory will give you the following structure</p>
	<code>
        json-project<br />
        ├── app.py<br/>
        ├── data.json<br/>
    </code>


	<p class="util-margin-top-30">With our project folder set up with the basics let's start codeing!!!</p>

	<hr />

	<h2 id="{{ step_one.article_headers[1].link }}">2.0.0 {{ step_one.article_headers[1].header }}</h2>

	<p>In this step we will imoprt the JOSN module and select the resource we want to import.</p>

	<div class="micro-step">
		<strong>2.0.1</strong>
		<p>Import the JSON module by adding this to the top of your file</p>
		<code>import json</code>
	</div>

	<p>We're going to use one of Flask's function called `open_resource()`. </p>

	<div class="micro-step">
		<strong>2.0.2</strong>
		<p>Open up the inspecter tool</p>
		<code>
        with app.open_resource("./data.json", "r" ) as data_file:<br/>
        &#8195;data = json.load(data_file)
        </code>
	</div>

	<ul class="collapsible util-margin-vert-60">
		<li>
			<div class="collapsible-header">
				<i class="material-icons md-24">keyboard_arrow_down</i>
				<div class="collapsible-title">open_resource()</div>
			</div>

			<div class="collapsible-body">
				<p>With 'app.open_resource', paths are always relative to the app's root (resource) folder. They may only be opened for reading, since it would be bad to be able to write to application files in production. With 'open', relative paths are relative to the current directory. Files may be opened in any mode.</p>

				<code>
                    with app.open_resource("RESOURCE", "MODE") as data_file:
                </code>

				<p>RESOURCE – the name of the resource. To access resources within subfolders use forward slashes as separator.</p>
				<p>MODE – resource file opening mode</p>
				<table>
					<tr>
						<th>mode</th>
						<th>description</th>
					</tr>
					<tr>
						<td>r</td>
						<td>Opens the file in read-only mode. Starts reading from the beginning of the file and is the default mode for the open() function.</td>
					</tr>
					<tr>
						<td>rb&nbsp;(&nbsp;default&nbsp;)</td>
						<td>Opens the file as read-only in binary format and starts reading from the beginning of the file. While binary format can be used for different purposes, it is usually used when dealing with things like images, videos, etc.</td>
					</tr>
					<tr>
						<td>r+</td>
						<td>Opens a file for reading and writing, placing the pointer at the beginning of the file.</td>
					</tr>
					<tr>
						<td>w</td>
						<td>Opens in write-only mode. The pointer is placed at the beginning of the file and this will overwrite any existing file with the same name. It will create a new file if one with the same name doesn't exist.</td>
					</tr>
					<tr>
						<td>wb</td>
						<td>Opens a write-only file in binary mode.</td>
					</tr>
					<tr>
						<td>w+</td>
						<td>Opens a file for writing and reading.</td>
					</tr>
					<tr>
						<td>wb+</td>
						<td>Opens a file for writing and reading in binary mode.</td>
					</tr>
					<tr>
						<td>a</td>
						<td>Opens a file for appending new information to it. The pointer is placed at the end of the file. A new file is created if one with the same name doesn't exist.</td>
					</tr>
					<tr>
						<td>ab</td>
						<td>Opens a file for appending in binary mode.</td>
					</tr>
					<tr>
						<td>a+</td>
						<td>Opens a file for both appending and reading.</td>
					</tr>
					<tr>
						<td>ab+</td>
						<td>Opens a file for both appending and reading in binary mode.</td>
					</tr>
				</table>
			</div>
		</li>
	</ul>

	<div class="micro-step">
		<strong>2.0.3</strong>
		<p>To pass the information to the template and the page add this to the router</p>
		<code>
            @app.route('/article-02/welcome')<br/>
            def article_02_welcome():<br/>
            
        </code>
	</div>

	<div class="micro-step">
		<strong>2.1.0</strong>
		<p>Run the app to test if it works. You should see simular results to figure 5.0</p>
		<code>
            $ python app.py
        </code>
	</div>

	<div class="card util-margin-vert-60">
		<div class="card__title">
			<i class="material-icons md-36">image</i>
			<div class="card__title--main">Figure 5.0</div>
		</div>
		<div class="card__image">
			<img src="https://source.unsplash.com/800x400/daily" alt="python video">
		</div>
	</div>

	<hr>

	<h2 id="intro-to-beautifulsoup">3.0.0 JSON Methods</h2>

	<p>Python's JSON module handles all the details of translating between a string with JSON data annd Pythons' values for the `json.loads()` and `json.dumps()` function. JSON can't store every kind of Python's value. It can contain values of only the following data types: stings, integers, floats, Booleans, lists, dictionaries, and NONEType. JSON cannot represent Python-specific objects, such as File objects, CSV Reader or Writer objects, Regex objects, or Selentium WebElements objects.</p>

	<!-- Why is it a string of JSON data? -->

	<p>What this means is that the module has to translate between JSON data structure and Python. See illustration ## for the chart. We use the module as a converstion table as well as to manipulate the data.</p>

	<h3>Reading JSON with the `loads()` function</h3>
	<p>To translate a string containing JSON data into a Python value, pass it to the `json.loads()` function. The name stands for 'load string' not the word 'loads'.</p>

	<p>Note that JSON strings always use double qoutes. It will return that data as a Python dictionary. Python dictionaries are not ordered, so the key-value pairs may appear in a different order when you `print()` them out.</p>

	<code>
        with app.open_resource("templates/article-02/data.json", "r" ) as data_file:<br />
        &#8195;data = json.load(data_file)
    </code>

	<h3>Writing JSON with the `dumps()` function</h3>

	<p>To translate a Python value into a string of JSON-formatted data, pass it to the `json.dumps()` function. The name stands for 'dump string' and not the word 'dumps'.</p>

	<!-- I don't use it in this feature but it looks like this -->
	<code>
        python_data = { 'name': 'Solomon  Grundy', 'born_on_monday': True, 'amount_of_kids': None }<br />
        json_data = json.dumps(python_data)<br />
        print(json_data)<br />
        >>> { "name": "Solomon  Grundy", "born_on_monday": true, "amount_of_kids": null }
    </code>

	<p>Notice how the values changes. Here is the converstion table also know as Encoding and Decoding.</p>
	<!-- Use JSON to loop through all the items -->
	<table>
		<tr>
			<th>Python</th>
			<th>JSON</th>
		</tr>
		<tr>
			<td>Single ( ' ' )</td>
			<td>Double ( " " )</td>
		</tr>
		<tr>
			<td>Dictionary</td>
			<td>Object</td>
		</tr>
		<tr>
			<td>List</td>
			<td>Array</td>
		</tr>
		<tr>
			<td>String</td>
			<td>String</td>
		</tr>
	</table>

	<hr />

	<h2 id="unpacking-dictionaries">4.0.0 Unpacking Dictionaries</h2>

	<p>Now we have a data to pass through the render_template() function. It can take multiple parameters.</p>

	<p>The first iteration to pass the information might look like the following</p>

	<code>
<pre>
@app.route('/article-02/chapter-01')
def article_02_chapter_01():
	with app.open_resource("templates/article-02/data.json", "r" ) as data_file:
			data = json.load(data_file)

	return render_template(
		"article-02/chapter-01.html",
		title=data["title"],
		title=category_type["category_type"],
		title=objective_paragraph["objective_paragraph"],
		title=chapter_number["chapters"].number,)
		title=chapter_teaser["chapters"].teaser)
</pre>
	</code>

	<p>If the key is a valid python variable name the you can also use the dot . notation. Then &lbrace;&lbrace; data.name &rbrace;&rbrace; and &lbrace;&lbrace; data.bjective_paragraph &rbrace;&rbrace; will work, but for the rest you have to use the bracket syntax: &lbrace;&lbrace;data['objective-paragraph']&rbrace;&rbrace; and &lbrace;&lbrace;data['objective paragraph']&rbrace;&rbrace;.</p>

	<p>But there's a much simplier way. Let me introduce key word argument oporator ( **kwargs ).</p>

	<p>In most situations if you want to pass an argument into a function you'll have to pass it through as a list.</p>

	<code>
<pre>
def my_sum(my_integers):
result = 0
for x in my_integers:
	result += x
return result

list_of_integers = [1, 2, 3]
print(my_sum(list_of_integers))
</pre>
</code>

	<p>Again, you're passing a list. What about passing multiple individual arguments?</p>

	<code>
<pre>
def my_sum(*args):
result = 0
# Iterating over the Python args tuple
for x in args:
	result += x
return result

print(my_sum(1, 2, 3))
</pre>
</code>

	<p>In this example, you’re no longer passing a list to my_sum(). Instead, you’re passing three different positional arguments. my_sum() takes all the parameters that are provided in the input and packs them all into a single iterable object named args.</p>

	<p>Note that args is just a name. You’re not required to use the name args. You can choose any name that you prefer, such as `integers` for example.</p>

	<p>Let's go back to out code. Update it to the following</p>

	<code>
<pre>
@app.route('/article-02/chapter-01')
def article_02_chapter_01():
with app.open_resource("templates/article-02/data.json", "r" ) as data_file:
		data = json.load(data_file)

return render_template("article-02/chapter-01.html", **date)
</pre>
</code>

	<p>The reason we're using two (2) astericks (*) is because we're passing key-value pairs.</p>

	<hr />

	<h2 id="exporting-data-to-json">5.0.0 Exporting Data to JSON</h2>

	<div class="micro-step">
		<strong>4.0.1</strong>
		<p>Update your app.py code at the end of the file. The output should look like Figure 6.0</p>
		<code>
        with open('./track-list.json', 'w') as trackFile:<br/>
        &#8195;trackFile.write(json.dumps(track_dict))
        </code>
	</div>

	<div class="card util-margin-vert-60">
		<div class="card__title">
			<i class="material-icons md-36">image</i>
			<div class="card__title--main">Figure 7.0</div>
		</div>
		<div class="card__image">
			<img src="https://source.unsplash.com/800x400/daily" alt="python video">
		</div>
	</div>

	<hr />

	<h2 id="conclusion">Conclusion</h2>
	<p>With the setup out of the way, we're going to start to build out the word counting functionality of this app. In the next step we're going to set up our YouTube account to recive incoming data. We're also going to add the posting functionality.</p>

	<section class="callout-section">
		<div class="callout callout__content callout_get_code">
			<i class="material-icons">
				code
			</i>
			<p>Need the code? Grab it from the repo.</p>
		</div>

		<div class="callout callout__content callout_get_code">
			<i class="material-icons">
				video_library
			</i>
			<p>Watch the tutorial video on YouTube</p>
		</div>
	</section>

</section>
</hr>
{% endblock %}