{% extends "templates/article-template.html" %}

{% block navigation %}
{{super()}}
<section>
    <nav class="navigation util-margin-top-30">
        <ul class="navigation__menu-list">
            <li>
                <a href="{{ url_for( navigation.welcome_link ) }}">
                    <div class="navigation--title">welcome</div>
                </a>
            </li>
            <li>
                <a href="{{ url_for( chapters[0].chapter_link ) }}">
                    <div class="navigation--title">get started</div>
                </a>
            </li>
            <li>
                <a href="{{ url_for( navigation.resource_link ) }}">
                    <div class="navigation--title">resources</div>
                </a>
            </li>
        </ul>
    </nav>
</section>
{% endblock %}

{% block page %}

<ul>
    <li>https://stackoverflow.com/questions/55195928/python-flask-importing-a-json-file-from-a-specific-folder-and-returning-on-g</li>
    <li>https://stackoverflow.com/questions/21133976/flask-load-local-json</li>
</ul>

{% endblock %}