@charset "UTF-8";
/* Buttons
  -------------------------------------------------- */
.button,
button,
input[type="submit"],
input[type="reset"],
input[type="button"] {
  display: inline-block;
  height: 38px;
  padding: 0 30px;
  color: #555;
  text-align: center;
  font-size: 11px;
  font-weight: 600;
  line-height: 38px;
  letter-spacing: .1rem;
  text-transform: uppercase;
  text-decoration: none;
  white-space: nowrap;
  background-color: transparent;
  border-radius: 4px;
  border: 1px solid #bbb;
  cursor: pointer;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

.button a,
button a,
input[type="submit"] a,
input[type="reset"] a,
input[type="button"] a {
  color: inherit;
  text-decoration: none;
}

.button:hover,
button:hover,
input[type="submit"]:hover,
input[type="reset"]:hover,
input[type="button"]:hover,
.button:focus,
button:focus,
input[type="submit"]:focus,
input[type="reset"]:focus,
input[type="button"]:focus {
  color: #333;
  border-color: #888;
  outline: 0;
}

.button.button-primary,
button.button-primary,
input[type="submit"].button-primary,
input[type="reset"].button-primary,
input[type="button"].button-primary {
  color: #FFF;
  background-color: #33C3F0;
  border-color: #33C3F0;
}

.button.button-primary:hover,
button.button-primary:hover,
input[type="submit"].button-primary:hover,
input[type="reset"].button-primary:hover,
input[type="button"].button-primary:hover,
.button.button-primary:focus,
button.button-primary:focus,
input[type="submit"].button-primary:focus,
input[type="reset"].button-primary:focus,
input[type="button"].button-primary:focus {
  color: #FFF;
  background-color: #1EAEDB;
  border-color: #1EAEDB;
}

.callout {
  margin: 1.75rem 0;
  border-radius: 2px;
  -webkit-box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
          box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
}

.callout__content {
  padding: 1rem 2rem;
}

.callout_get_code {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  color: white;
  background-color: dodgerblue;
}

.callout_get_code i {
  font-size: 3.5rem;
  margin-right: 1.5rem;
}

@media (min-width: 550px) {
  .callout-section {
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: 1fr 1fr;
        grid-template-columns: 1fr 1fr;
    -webkit-column-gap: 1.5rem;
            column-gap: 1.5rem;
  }
}

.card {
  border-radius: 2px;
  padding: 2rem;
  -webkit-box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
          box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
}

.card--course {
  margin: 0 auto;
  max-width: 60rem;
  border-top: .8rem solid #212121;
}

.card--course__connector {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 1fr;
      grid-template-columns: 1fr 1fr;
}

.card--course__connector div {
  display: inline-block;
  height: 10rem;
}

.card--course__connector div:first-child {
  border-right: 5px solid #212121;
}

.card--course__success {
  border-top: none;
  background-image: url("../images/galaxy.jpg");
  background-repeat: no-repeat;
  background-position: top;
  background-size: cover;
  background-color: #212854;
}

.card--course__success .card__title {
  display: inherit;
  text-align: center;
  padding: 4rem;
}

.card--course__success .h1 {
  color: white;
  margin-bottom: 0;
}

.card__title {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.card__title i {
  padding-right: 1rem;
}

.card__title--main {
  display: inline-block;
  font-family: "Roboto Mono", sans-serif;
  font-weight: 700;
  font-size: 2.4rem;
  line-height: 1.3;
}

.card__image {
  padding: 3rem 0 1rem;
}

.card__button {
  border-top: 1px solid #ddd;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  padding-top: 2rem;
  margin-top: 3rem;
}

.card__button button:not(:first-child) {
  margin-left: 1rem;
}

.collapsible {
  border-top: 1px solid #ddd;
  border-right: 1px solid #ddd;
  border-left: 1px solid #ddd;
  margin: .5rem 0 1rem 0;
  -webkit-box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.14), 0 3px 1px -2px rgba(0, 0, 0, 0.12), 0 1px 5px 0 rgba(0, 0, 0, 0.2);
          box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.14), 0 3px 1px -2px rgba(0, 0, 0, 0.12), 0 1px 5px 0 rgba(0, 0, 0, 0.2);
}

.collapsible-header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  cursor: pointer;
  -webkit-tap-highlight-color: transparent;
  line-height: 1.5;
  padding: 1rem;
  background-color: #fff;
  border-bottom: 1px solid #ddd;
}

.collapsible-header:focus {
  outline: 0;
}

.collapsible-header i {
  width: 2rem;
  font-size: 1.6rem;
  display: inline-block;
  text-align: center;
  margin-right: 1rem;
}

ul:not(.browser-default) {
  padding-left: 0;
  list-style-type: none;
}

ul:not(.browser-default) > li {
  list-style-type: none;
}

.collapsible-title {
  display: inline-block;
  font-family: "Roboto Mono", sans-serif;
  padding-left: 1rem;
  font-weight: 400;
  font-size: 1.8rem;
  line-height: 1.3;
}

.collapsible-body {
  display: none;
  border-bottom: 1px solid #ddd;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  padding: 2rem;
}

/* Forms
  -------------------------------------------------- */
input[type="email"],
input[type="number"],
input[type="search"],
input[type="text"],
input[type="tel"],
input[type="url"],
input[type="password"],
textarea,
select {
  height: 38px;
  padding: 6px 10px;
  /* The 6px vertically centers text on FF, ignored by Webkit */
  background-color: #fff;
  border: 1px solid #D1D1D1;
  border-radius: 4px;
  -webkit-box-shadow: none;
          box-shadow: none;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

/* Removes awkward default styles on some inputs for iOS */
input[type="email"],
input[type="number"],
input[type="search"],
input[type="text"],
input[type="tel"],
input[type="url"],
input[type="password"],
textarea {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
}

textarea {
  min-height: 65px;
  padding-top: 6px;
  padding-bottom: 6px;
}

input[type="email"]:focus,
input[type="number"]:focus,
input[type="search"]:focus,
input[type="text"]:focus,
input[type="tel"]:focus,
input[type="url"]:focus,
input[type="password"]:focus,
textarea:focus,
select:focus {
  border: 1px solid #33C3F0;
  outline: 0;
}

label,
legend {
  display: block;
  margin-bottom: .5rem;
  font-weight: 600;
}

fieldset {
  padding: 0;
  border-width: 0;
}

input[type="checkbox"],
input[type="radio"] {
  display: inline;
}

label > .label-body {
  display: inline-block;
  margin-left: .5rem;
  font-weight: normal;
}

.hero {
  width: 100%;
  height: 100vh;
  display: block;
  background: url("../images/background.png") no-repeat;
  background-size: cover;
}

.hero .hero__title {
  text-align: center;
  font-size: 65vh;
  font-family: 'Knewave';
  color: #ff00ff;
  -ms-flex-line-pack: center;
      align-content: center;
}

/* Layout
-------------------------------------------------- */
html {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

.body__container {
  width: 75%;
  margin: 0 auto;
}

.article__container {
  min-height: 100vh;
}

/* Links
  -------------------------------------------------- */
a {
  color: dodgerblue;
}

/* Images
  -------------------------------------------------- */
img {
  display: block;
  width: 100%;
}

/* Lists
  -------------------------------------------------- */
ul {
  list-style: circle inside;
}

ol {
  list-style: decimal inside;
}

ol,
ul {
  padding-left: 0;
  margin-top: 0;
}

ul ul,
ul ol,
ol ol,
ol ul {
  margin: 1.5rem 0 1.5rem 3rem;
  font-size: 90%;
}

li {
  margin-bottom: 1rem;
}

/* Code
  -------------------------------------------------- */
code {
  padding: 2rem;
  display: block;
  overflow: scroll;
  white-space: nowrap;
  background: #212121;
  -webkit-box-shadow: 0 2px 4px rgba(0, 0, 0, 0.5);
          box-shadow: 0 2px 4px rgba(0, 0, 0, 0.5);
  color: white;
}

pre > code {
  display: block;
  padding: 1rem 1.5rem;
  white-space: pre;
}

/* Horizontal Rule
–––––––––––––––––––––––––––––––––––––––––––––––––– */
hr {
  margin: 7.5rem 0;
  border-width: 0;
  border-top: 1px solid #ddd;
}

hr:first {
  margin: 10rem 0 7rem;
}

/* Media Queries
–––––––––––––––––––––––––––––––––––––––––––––––––– */
/* Larger than mobile */
/* Larger than phablet (also point when grid becomes active) */
/* Larger than tablet */
/* Larger than desktop */
/* Larger than Desktop HD */
/* To Do
-------------------------------------------------- */
/*
Getting started
    - what is it
    - setting up your html
        - HTML
        - charset
        - mobile first
        - ie compatable

    - inlcuding css in your package
        - css
        - js
        - html templating

CSS
    - global css
    - html elements
    - extensible classes
    - grid system
    - global normalization

    + container
    + color pallete
    + grid system
        - intro
        - media queries
        - grid options
            - mobile and desktop
            - cards
            - naming grid areas
    + typography
        - heading
        - subheading
        - body copy
        - alignment
        - transform
        - block qoutes
        - list
            - styled
            - order
            - unordered
        - description
        - footnotes
        - dashboard / tabs
        - code
        - tables
            - striped
            - bordered
            - hover
            - condensed
        - forms
        - inputs
        - checkboxes
            - radio cards
            - radio box tables
            - selects
            - parent / child
        - messages ( success, fail, warning )
        - help text
        - buttons
        - images
        - helper class
            - bg-light-gray
        - icons
        - responsive utilities
*/
/* Table of Content
-------------------------------------------------- */
.table-of-contents ul,
.table-of-contents ol {
  list-style: none;
}

.table-of-contents li {
  line-height: 1.6;
}

.table-of-contents__title {
  font-family: "Roboto Mono", monospace;
  font-size: 1.5rem;
  text-transform: uppercase;
  margin: 2.4rem 0 .4rem;
}

/* Inline list
-------------------------------------------------- */
.inine-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  line-height: 1.6;
}

.inine-list a {
  padding-left: 10px;
}

/* Material Icons
–––––––––––––––––––––––––––––––––––––––––––––––––– */
/* Rules for sizing the icon. */
.material-icons.md-18 {
  font-size: 18px;
}

.material-icons.md-24 {
  font-size: 24px;
}

.material-icons.md-36 {
  font-size: 36px;
}

.material-icons.md-48 {
  font-size: 48px;
}

/* Rules for using icons as black on a light background. */
.material-icons.md-dark {
  color: rgba(0, 0, 0, 0.54);
}

.material-icons.md-dark.md-inactive {
  color: rgba(0, 0, 0, 0.26);
}

/* Rules for using icons as white on a dark background. */
.material-icons.md-light {
  color: white;
}

.material-icons.md-light.md-inactive {
  color: rgba(255, 255, 255, 0.3);
}

.micro-step {
  margin-top: 3rem;
}

.micro-step p {
  margin-top: 0;
}

.micro-step strong {
  display: block;
  margin-top: 2rem;
}

/* Navigation
–––––––––––––––––––––––––––––––––––––––––––––––––– */
.navigation {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
}

.navigation__menu-list {
  list-style: none;
}

.navigation__menu-list li {
  margin: 1rem;
  padding: 1rem;
}

.navigation__menu-list li:hover {
  border-radius: 3px;
  background: rgba(0, 0, 0, 0.05);
}

.navigation__menu-list li:last-child {
  margin-right: 0;
}

.navigation__menu-list .navigation--title {
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  color: #212121;
  font-size: 1.8rem;
  margin-bottom: .75rem;
}

.navigation__menu-list a:link,
.navigation__menu-list a:visited {
  display: inline-block;
  border-top: 1px solid #111111;
  padding-top: .8em;
  text-align: left;
  color: #333333;
  text-decoration: none;
}

.nav-bar {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  background-color: black;
  padding: 1rem;
}

.nav-bar .logo {
  display: block;
  max-height: 3rem;
  width: auto;
  height: auto;
}

.nav-bar a {
  display: block;
  margin: 0 auto;
  color: white;
  padding: 1rem;
  text-decoration: none;
}

@media (min-width: 415px) {
  .navigation {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-pack: end;
        -ms-flex-pack: end;
            justify-content: flex-end;
  }
  .navigation__menu-list li {
    display: inline-block;
  }
}

/*! normalize.css v7.0.0 | MIT License | github.com/necolas/normalize.css */
/* Document
   ========================================================================== */
/**
 * 1. Correct the line height in all browsers.
 * 2. Prevent adjustments of font size after orientation changes in
 *    IE on Windows Phone and in iOS.
 */
html {
  line-height: 1.15;
  /* 1 */
  -ms-text-size-adjust: 100%;
  /* 2 */
  -webkit-text-size-adjust: 100%;
  /* 2 */
}

/* Sections
   ========================================================================== */
/**
 * Remove the margin in all browsers (opinionated).
 */
body {
  margin: 0;
}

/**
 * Add the correct display in IE 9-.
 */
article,
aside,
footer,
header,
nav,
section {
  display: block;
}

/**
 * Correct the font size and margin on `h1` elements within `section` and
 * `article` contexts in Chrome, Firefox, and Safari.
 */
h1 {
  font-size: 2em;
  margin: 0.67em 0;
}

/* Grouping content
   ========================================================================== */
/**
 * Add the correct display in IE 9-.
 * 1. Add the correct display in IE.
 */
figcaption,
figure,
main {
  /* 1 */
  display: block;
}

/**
 * Add the correct margin in IE 8.
 */
figure {
  margin: 1em 40px;
}

/**
 * 1. Add the correct box sizing in Firefox.
 * 2. Show the overflow in Edge and IE.
 */
hr {
  -webkit-box-sizing: content-box;
          box-sizing: content-box;
  /* 1 */
  height: 0;
  /* 1 */
  overflow: visible;
  /* 2 */
}

/**
 * 1. Correct the inheritance and scaling of font size in all browsers.
 * 2. Correct the odd `em` font sizing in all browsers.
 */
pre {
  font-family: monospace, monospace;
  /* 1 */
  font-size: 1em;
  /* 2 */
}

/* Text-level semantics
   ========================================================================== */
/**
 * 1. Remove the gray background on active links in IE 10.
 * 2. Remove gaps in links underline in iOS 8+ and Safari 8+.
 */
a {
  background-color: transparent;
  /* 1 */
  -webkit-text-decoration-skip: objects;
  /* 2 */
}

/**
 * 1. Remove the bottom border in Chrome 57- and Firefox 39-.
 * 2. Add the correct text decoration in Chrome, Edge, IE, Opera, and Safari.
 */
abbr[title] {
  border-bottom: none;
  /* 1 */
  text-decoration: underline;
  /* 2 */
  -webkit-text-decoration: underline dotted;
          text-decoration: underline dotted;
  /* 2 */
}

/**
 * Prevent the duplicate application of `bolder` by the next rule in Safari 6.
 */
b,
strong {
  font-weight: inherit;
}

/**
 * Add the correct font weight in Chrome, Edge, and Safari.
 */
b,
strong {
  font-weight: bolder;
}

/**
 * 1. Correct the inheritance and scaling of font size in all browsers.
 * 2. Correct the odd `em` font sizing in all browsers.
 */
code,
kbd,
samp {
  font-family: monospace, monospace;
  /* 1 */
  font-size: 1em;
  /* 2 */
}

/**
 * Add the correct font style in Android 4.3-.
 */
dfn {
  font-style: italic;
}

/**
 * Add the correct background and color in IE 9-.
 */
mark {
  background-color: #ff0;
  color: #000;
}

/**
 * Add the correct font size in all browsers.
 */
small {
  font-size: 80%;
}

/**
 * Prevent `sub` and `sup` elements from affecting the line height in
 * all browsers.
 */
sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}

sub {
  bottom: -0.25em;
}

sup {
  top: -0.5em;
}

/* Embedded content
   ========================================================================== */
/**
 * Add the correct display in IE 9-.
 */
audio,
video {
  display: inline-block;
}

/**
 * Add the correct display in iOS 4-7.
 */
audio:not([controls]) {
  display: none;
  height: 0;
}

/**
 * Remove the border on images inside links in IE 10-.
 */
img {
  border-style: none;
}

/**
 * Hide the overflow in IE.
 */
svg:not(:root) {
  overflow: hidden;
}

/* Forms
   ========================================================================== */
/**
 * 1. Change the font styles in all browsers (opinionated).
 * 2. Remove the margin in Firefox and Safari.
 */
input,
optgroup,
select,
textarea {
  font-family: sans-serif;
  /* 1 */
  font-size: 100%;
  /* 1 */
  line-height: 1.15;
  /* 1 */
  margin: 0;
  /* 2 */
}

/**
 * Show the overflow in IE.
 * 1. Show the overflow in Edge.
 */
input {
  /* 1 */
  overflow: visible;
}

/**
 * Remove the inheritance of text transform in Edge, Firefox, and IE.
 * 1. Remove the inheritance of text transform in Firefox.
 */
select {
  /* 1 */
  text-transform: none;
}

/**
 * 1. Prevent a WebKit bug where (2) destroys native `audio` and `video`
 *    controls in Android 4.
 * 2. Correct the inability to style clickable types in iOS and Safari.
 */
button,
html [type="button"],
[type="reset"],
[type="submit"] {
  -webkit-appearance: button;
  /* 2 */
}

/**
 * Remove the inner border and padding in Firefox.
 */
button::-moz-focus-inner,
[type="button"]::-moz-focus-inner,
[type="reset"]::-moz-focus-inner,
[type="submit"]::-moz-focus-inner {
  border-style: none;
  padding: 0;
}

/**
 * Restore the focus styles unset by the previous rule.
 */
button:-moz-focusring,
[type="button"]:-moz-focusring,
[type="reset"]:-moz-focusring,
[type="submit"]:-moz-focusring {
  outline: 1px dotted ButtonText;
}

/**
 * Correct the padding in Firefox.
 */
fieldset {
  padding: 0.35em 0.75em 0.625em;
}

/**
 * 1. Correct the text wrapping in Edge and IE.
 * 2. Correct the color inheritance from `fieldset` elements in IE.
 * 3. Remove the padding so developers are not caught out when they zero out
 *    `fieldset` elements in all browsers.
 */
legend {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  /* 1 */
  color: inherit;
  /* 2 */
  display: table;
  /* 1 */
  max-width: 100%;
  /* 1 */
  padding: 0;
  /* 3 */
  white-space: normal;
  /* 1 */
}

/**
 * 1. Add the correct display in IE 9-.
 * 2. Add the correct vertical alignment in Chrome, Firefox, and Opera.
 */
progress {
  display: inline-block;
  /* 1 */
  vertical-align: baseline;
  /* 2 */
}

/**
 * Remove the default vertical scrollbar in IE.
 */
textarea {
  overflow: auto;
}

/**
 * 1. Add the correct box sizing in IE 10-.
 * 2. Remove the padding in IE 10-.
 */
[type="checkbox"],
[type="radio"] {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  /* 1 */
  padding: 0;
  /* 2 */
}

/**
 * Correct the cursor style of increment and decrement buttons in Chrome.
 */
[type="number"]::-webkit-inner-spin-button,
[type="number"]::-webkit-outer-spin-button {
  height: auto;
}

/**
 * 1. Correct the odd appearance in Chrome and Safari.
 * 2. Correct the outline style in Safari.
 */
[type="search"] {
  -webkit-appearance: textfield;
  /* 1 */
  outline-offset: -2px;
  /* 2 */
}

/**
 * Remove the inner padding and cancel buttons in Chrome and Safari on macOS.
 */
[type="search"]::-webkit-search-cancel-button,
[type="search"]::-webkit-search-decoration {
  -webkit-appearance: none;
}

/**
 * 1. Correct the inability to style clickable types in iOS and Safari.
 * 2. Change font properties to `inherit` in Safari.
 */
::-webkit-file-upload-button {
  -webkit-appearance: button;
  /* 1 */
  font: inherit;
  /* 2 */
}

/* Interactive
   ========================================================================== */
/*
 * Add the correct display in IE 9-.
 * 1. Add the correct display in Edge, IE, and Firefox.
 */
details,
menu {
  display: block;
}

/*
 * Add the correct display in all browsers.
 */
summary {
  display: list-item;
}

/* Scripting
   ========================================================================== */
/**
 * Add the correct display in IE 9-.
 */
canvas {
  display: inline-block;
}

/**
 * Add the correct display in IE.
 */
template {
  display: none;
}

/* Hidden
   ========================================================================== */
/**
 * Add the correct display in IE 10-.
 */
[hidden] {
  display: none;
}

.objective-paragraph {
  padding: 0 0 25px;
}

@media (min-width: 550px) {
  .objective-paragraph {
    padding: 25px 0 50px;
  }
}

/* sections
-------------------------------------------------- */
.page-header {
  padding: 25px 0;
}

.straight-link {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  text-decoration: none;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

@media (min-width: 550px) {
  .page-header {
    padding: 70px 0 0;
  }
}

/* Tables
  -------------------------------------------------- */
table {
  width: 100%;
}

th,
td {
  padding: 12px 15px;
  text-align: left;
}

th ul,
td ul {
  margin-bottom: 0;
}

th li:last-child,
td li:last-child {
  margin-bottom: 0;
}

th {
  border-bottom: 1px solid #666666;
}

td {
  border-bottom: 1px solid #e1e1e1;
}

th:first-child,
td:first-child {
  padding-left: 0;
}

th:last-child,
td:last-child {
  padding-right: 0;
}

/* Tooltip
  -------------------------------------------------- */
.tooltip {
  display: inline;
  border-bottom: 1px dotted #323232;
}

.material-tooltip {
  padding: 10px 8px;
  font-size: 1.5rem;
  z-index: 2000;
  background-color: transparent;
  border-radius: 2px;
  color: #fff;
  min-height: 6px;
  line-height: 120%;
  opacity: 0;
  position: absolute;
  text-align: center;
  max-width: calc(100% - 4px);
  overflow: hidden;
  left: 0;
  top: 0;
  pointer-events: none;
  visibility: hidden;
  background-color: #323232;
}

.backdrop {
  position: absolute;
  opacity: 0;
  height: 7px;
  width: 14px;
  border-radius: 0 0 50% 50%;
  background-color: #323232;
  z-index: -1;
  -webkit-transform-origin: 50% 0%;
          transform-origin: 50% 0%;
  visibility: hidden;
}

/* Typography
-------------------------------------------------- */
/* NOTE
html is set to 62.5% so that all the REM measurements throughout Skeleton
are based on 10px sizing. So basically 1.5rem = 15px :) */
html {
  font-size: 62.5%;
  scroll-behavior: smooth;
}

body {
  font-size: 1.5em;
  line-height: 1.45;
  font-weight: 300;
  font-family: "Roboto Mono", sans-serif;
  color: #333;
}

/* Font Headers
  -------------------------------------------------- */
h1,
.h1,
h2,
.h2,
h3,
.h3,
h4,
.h4,
h5,
.h5,
h6,
.h6 {
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  color: #212121;
  margin-bottom: 1rem;
}

.sub-h1,
.sub-h2,
.sub-h3,
.sub-h4,
.sub-h5,
.sub-h6 {
  display: block;
  font-family: "Roboto Mono", sans-serif;
  font-weight: 700;
  margin-bottom: 1rem;
}

h1,
.h1,
.sub-h1 {
  font-size: 4.0rem;
  line-height: 1.2;
}

h2,
.h2,
.sub-h2 {
  font-size: 3.2rem;
  line-height: 1.25;
  margin-top: 3rem;
}

h3,
.h3,
.sub-h3 {
  font-size: 2.4rem;
  line-height: 1.3;
}

h4,
.h4,
.sub-h4 {
  font-size: 2rem;
  line-height: 1.35;
}

h5,
.h5,
.sub-h5 {
  font-size: 1.8rem;
  line-height: 1.5;
}

h6,
.h6,
.sub-h6 {
  font-size: 1.5rem;
  line-height: 1.6;
  margin-top: 1.25rem;
}

/* Larger than tablet */
@media (min-width: 550px) {
  h1,
  .h1,
  .sub-h1 {
    font-size: 6.0rem;
  }
  h2,
  .h2,
  .sub-h2 {
    font-size: 2.8rem;
  }
  h3,
  .h3,
  .sub-h3 {
    font-size: 2.4rem;
  }
  h4,
  .h4,
  .sub-h4 {
    font-size: 2rem;
  }
  h5,
  .h5,
  .sub-h5 {
    font-size: 1.8rem;
  }
  h6,
  .h6,
  .sub-h6 {
    font-size: 1.5rem;
  }
  .overline {
    font-size: 1.2rem;
    letter-spacing: 1.5px;
    font-weight: 400;
    text-transform: uppercase;
  }
}

/* margin top
 -------------------*/
.util-margin-top-5 {
  margin-top: 5px !important;
}

.util-margin-top-10 {
  margin-top: 10px !important;
}

.util-margin-top-15 {
  margin-top: 15px !important;
}

.util-margin-top-20 {
  margin-top: 20px !important;
}

.util-margin-top-25 {
  margin-top: 25px !important;
}

.util-margin-top-30 {
  margin-top: 30px !important;
}

.util-margin-top-35 {
  margin-top: 35px !important;
}

.util-margin-top-40 {
  margin-top: 40px !important;
}

.util-margin-top-50 {
  margin-top: 50px !important;
}

.util-margin-top-60 {
  margin-top: 60px !important;
}

.util-margin-top-70 {
  margin-top: 70px !important;
}

.util-margin-top-80 {
  margin-top: 80px !important;
}

.util-margin-top-90 {
  margin-top: 90px !important;
}

.util-margin-top-100 {
  margin-top: 100px !important;
}

/* margin right
  -------------------*/
.util-margin-right-5 {
  margin-right: 5px !important;
}

.util-margin-right-10 {
  margin-right: 10px !important;
}

.util-margin-right-15 {
  margin-right: 15px !important;
}

.util-margin-right-20 {
  margin-right: 20px !important;
}

.util-margin-right-25 {
  margin-right: 25px !important;
}

.util-margin-right-30 {
  margin-right: 30px !important;
}

.util-margin-right-35 {
  margin-right: 35px !important;
}

.util-margin-right-40 {
  margin-right: 40px !important;
}

.util-margin-right-50 {
  margin-right: 50px !important;
}

.util-margin-right-60 {
  margin-right: 60px !important;
}

.util-margin-right-70 {
  margin-right: 70px !important;
}

.util-margin-right-80 {
  margin-right: 80px !important;
}

.util-margin-right-90 {
  margin-right: 90px !important;
}

.util-margin-right-100 {
  margin-right: 100px !important;
}

/* margin bottom
  -------------------*/
.util-margin-bottom-5 {
  margin-bottom: 5px !important;
}

.util-margin-bottom-10 {
  margin-bottom: 10px !important;
}

.util-margin-bottom-15 {
  margin-bottom: 15px !important;
}

.util-margin-bottom-20 {
  margin-bottom: 20px !important;
}

.util-margin-bottom-25 {
  margin-bottom: 25px !important;
}

.util-margin-bottom-30 {
  margin-bottom: 30px !important;
}

.util-margin-bottom-35 {
  margin-bottom: 35px !important;
}

.util-margin-bottom-40 {
  margin-bottom: 40px !important;
}

.util-margin-bottom-50 {
  margin-bottom: 50px !important;
}

.util-margin-bottom-60 {
  margin-bottom: 60px !important;
}

.util-margin-bottom-70 {
  margin-bottom: 70px !important;
}

.util-margin-bottom-80 {
  margin-bottom: 80px !important;
}

.util-margin-bottom-90 {
  margin-bottom: 90px !important;
}

.util-margin-bottom-100 {
  margin-bottom: 100px !important;
}

/* margin left
  -------------------*/
.util-margin-left-5 {
  margin-left: 5px !important;
}

.util-margin-left-10 {
  margin-left: 10px !important;
}

.util-margin-left-15 {
  margin-left: 15px !important;
}

.util-margin-left-20 {
  margin-left: 20px !important;
}

.util-margin-left-25 {
  margin-left: 25px !important;
}

.util-margin-left-30 {
  margin-left: 30px !important;
}

.util-margin-left-35 {
  margin-left: 35px !important;
}

.util-margin-left-40 {
  margin-left: 40px !important;
}

.util-margin-left-50 {
  margin-left: 50px !important;
}

.util-margin-left-60 {
  margin-left: 60px !important;
}

.util-margin-left-70 {
  margin-left: 70px !important;
}

.util-margin-left-80 {
  margin-left: 80px !important;
}

.util-margin-left-90 {
  margin-left: 90px !important;
}

.util-margin-left-100 {
  margin-left: 100px !important;
}

/* margin horz
  -------------------*/
.util-margin-horz-5 {
  margin: 0 5px !important;
}

.util-margin-horz-10 {
  margin: 0 10px !important;
}

.util-margin-horz-15 {
  margin: 0 15px !important;
}

.util-margin-horz-20 {
  margin: 0 20px !important;
}

.util-margin-horz-25 {
  margin: 0 25px !important;
}

.util-margin-horz-30 {
  margin: 0 30px !important;
}

.util-margin-horz-35 {
  margin: 0 35px !important;
}

.util-margin-horz-40 {
  margin: 0 40px !important;
}

.util-margin-horz-50 {
  margin: 0 50px !important;
}

.util-margin-horz-60 {
  margin: 0 60px !important;
}

.util-margin-horz-70 {
  margin: 0 70px !important;
}

.util-margin-horz-80 {
  margin: 0 80px !important;
}

.util-margin-horz-90 {
  margin: 0 90px !important;
}

.util-margin-horz-100 {
  margin: 0 100px !important;
}

/* margin vert
  -------------------*/
.util-margin-vert-5 {
  margin: 5px 0 !important;
}

.util-margin-vert-10 {
  margin: 10px 0 !important;
}

.util-margin-vert-15 {
  margin: 15px 0 !important;
}

.util-margin-vert-20 {
  margin: 20px 0 !important;
}

.util-margin-vert-25 {
  margin: 25px 0 !important;
}

.util-margin-vert-30 {
  margin: 30px 0 !important;
}

.util-margin-vert-35 {
  margin: 35px 0 !important;
}

.util-margin-vert-40 {
  margin: 40px 0 !important;
}

.util-margin-vert-50 {
  margin: 50px 0 !important;
}

.util-margin-vert-60 {
  margin: 60px 0 !important;
}

.util-margin-vert-70 {
  margin: 70px 0 !important;
}

.util-margin-vert-80 {
  margin: 80px 0 !important;
}

.util-margin-vert-90 {
  margin: 90px 0 !important;
}

.util-margin-vert-100 {
  margin: 100px 0 !important;
}

/* padding top
  -------------------*/
.util-padding-top-5 {
  padding-top: 5px !important;
}

.util-padding-top-10 {
  padding-top: 10px !important;
}

.util-padding-top-15 {
  padding-top: 15px !important;
}

.util-padding-top-20 {
  padding-top: 20px !important;
}

.util-padding-top-25 {
  padding-top: 25px !important;
}

.util-padding-top-30 {
  padding-top: 30px !important;
}

.util-padding-top-35 {
  padding-top: 35px !important;
}

.util-padding-top-40 {
  padding-top: 40px !important;
}

.util-padding-top-50 {
  padding-top: 50px !important;
}

.util-padding-top-60 {
  padding-top: 60px !important;
}

.util-padding-top-70 {
  padding-top: 70px !important;
}

.util-padding-top-80 {
  padding-top: 80px !important;
}

.util-padding-top-90 {
  padding-top: 90px !important;
}

.util-padding-top-100 {
  padding-top: 100px !important;
}

/* padding right
  -------------------*/
.util-padding-right-5 {
  padding-right: 5px !important;
}

.util-padding-right-10 {
  padding-right: 10px !important;
}

.util-padding-right-15 {
  padding-right: 15px !important;
}

.util-padding-right-20 {
  padding-right: 20px !important;
}

.util-padding-right-25 {
  padding-right: 25px !important;
}

.util-padding-right-30 {
  padding-right: 30px !important;
}

.util-padding-right-35 {
  padding-right: 35px !important;
}

.util-padding-right-40 {
  padding-right: 40px !important;
}

.util-padding-right-50 {
  padding-right: 50px !important;
}

.util-padding-right-60 {
  padding-right: 60px !important;
}

.util-padding-right-70 {
  padding-right: 70px !important;
}

.util-padding-right-80 {
  padding-right: 80px !important;
}

.util-padding-right-90 {
  padding-right: 90px !important;
}

.util-padding-right-100 {
  padding-right: 100px !important;
}

/* padding bottom
  -------------------*/
.util-padding-bottom-5 {
  padding-bottom: 5px !important;
}

.util-padding-bottom-10 {
  padding-bottom: 10px !important;
}

.util-padding-bottom-15 {
  padding-bottom: 15px !important;
}

.util-padding-bottom-20 {
  padding-bottom: 20px !important;
}

.util-padding-bottom-25 {
  padding-bottom: 25px !important;
}

.util-padding-bottom-30 {
  padding-bottom: 30px !important;
}

.util-padding-bottom-35 {
  padding-bottom: 35px !important;
}

.util-padding-bottom-40 {
  padding-bottom: 40px !important;
}

.util-padding-bottom-50 {
  padding-bottom: 50px !important;
}

.util-padding-bottom-60 {
  padding-bottom: 60px !important;
}

.util-padding-bottom-70 {
  padding-bottom: 70px !important;
}

.util-padding-bottom-80 {
  padding-bottom: 80px !important;
}

.util-padding-bottom-90 {
  padding-bottom: 90px !important;
}

.util-padding-bottom-100 {
  padding-bottom: 100px !important;
}

/* padding left
  -------------------*/
.util-padding-left-5 {
  padding-left: 5px !important;
}

.util-padding-left-10 {
  padding-left: 10px !important;
}

.util-padding-left-15 {
  padding-left: 15px !important;
}

.util-padding-left-20 {
  padding-left: 20px !important;
}

.util-padding-left-25 {
  padding-left: 25px !important;
}

.util-padding-left-30 {
  padding-left: 30px !important;
}

.util-padding-left-35 {
  padding-left: 35px !important;
}

.util-padding-left-40 {
  padding-left: 40px !important;
}

.util-padding-left-50 {
  padding-left: 50px !important;
}

.util-padding-left-60 {
  padding-left: 60px !important;
}

.util-padding-left-70 {
  padding-left: 70px !important;
}

.util-padding-left-80 {
  padding-left: 80px !important;
}

.util-padding-left-90 {
  padding-left: 90px !important;
}

.util-padding-left-100 {
  padding-left: 100px !important;
}

/* padding horz
  -------------------*/
.util-padding-horz-5 {
  padding: 0 5px !important;
}

.util-padding-horz-10 {
  padding: 0 10px !important;
}

.util-padding-horz-15 {
  padding: 0 15px !important;
}

.util-padding-horz-20 {
  padding: 0 20px !important;
}

.util-padding-horz-25 {
  padding: 0 25px !important;
}

.util-padding-horz-30 {
  padding: 0 30px !important;
}

.util-padding-horz-35 {
  padding: 0 35px !important;
}

.util-padding-horz-40 {
  padding: 0 40px !important;
}

.util-padding-horz-50 {
  padding: 0 50px !important;
}

.util-padding-horz-60 {
  padding: 0 60px !important;
}

.util-padding-horz-70 {
  padding: 0 70px !important;
}

.util-padding-horz-80 {
  padding: 0 80px !important;
}

.util-padding-horz-90 {
  padding: 0 90px !important;
}

.util-padding-horz-100 {
  padding: 0 100px !important;
}

/* padding vert
  -------------------*/
.util-padding-vert-5 {
  padding: 5px 0 !important;
}

.util-padding-vert-10 {
  padding: 10px 0 !important;
}

.util-padding-vert-15 {
  padding: 15px 0 !important;
}

.util-padding-vert-20 {
  padding: 20px 0 !important;
}

.util-padding-vert-25 {
  padding: 25px 0 !important;
}

.util-padding-vert-30 {
  padding: 30px 0 !important;
}

.util-padding-vert-35 {
  padding: 35px 0 !important;
}

.util-padding-vert-40 {
  padding: 40px 0 !important;
}

.util-padding-vert-50 {
  padding: 50px 0 !important;
}

.util-padding-vert-60 {
  padding: 60px 0 !important;
}

.util-padding-vert-70 {
  padding: 70px 0 !important;
}

.util-padding-vert-80 {
  padding: 80px 0 !important;
}

.util-padding-vert-90 {
  padding: 90px 0 !important;
}

.util-padding-vert-100 {
  padding: 100px 0 !important;
}
/*# sourceMappingURL=main.css.map */