{% extends "templates/master-template.html" %}

{% block  subtemplate %}
<div class="body__container article__container">
    <section>
        <nav class="navigation util-margin-top-30">
            <ul class="navigation__menu-list">
                <li>
                    <a href="{{ url_for('article_01_welcome') }}">
                        <div class="navigation--title">welcome</div>
                    </a>
                </li>
                <li>
                    <a href="{{ url_for('article_01_chapter_01') }}">
                        <div class="navigation--title">chapter 01</div>
                    </a>
                </li>
                <li>
                    <a href="{{ url_for('article_01_resource') }}">
                        <div class="navigation--title">resources</div>
                    </a>
                </li>
            </ul>
        </nav>
    </section>

    {% block page %}{% endblock %}
</div>
{% endblock %}