<!DOCTYPE html>
<html lang="en">

<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<meta http-equiv="X-UA-Compatible" content="ie=edge">
	<title>{% block title %}{% endblock %}</title>
	<link rel="shortcut icon" type="image/jpg" href="{{ url_for('static', filename='images/favicon.png') }}" />
	<link rel="stylesheet" href="{{ url_for('static', filename='css/main.css') }}">
	<link href="https://fonts.googleapis.com/css?family=Roboto+Mono:300,400|Roboto:300,400|Knewave&display=swap" rel="stylesheet">
	<link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
</head>

<body>
	<nav class="nav-bar">
		<a href="{{ url_for('index') }}">
			<img class="logo" src="{{ url_for('static', filename='images/logo-white.png')}}" alt="">
		</a>
	</nav>

	{% block subtemplate %}{% endblock %}

	<div class="body__container">
		<footer>
			<h6>Department of Magical Realism</h6>
			<p><em>Ego Creo Ergo Sum</em></p>
		</footer>
	</div>

	<script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>
	<script src="{{ url_for('static', filename='js/init-materialize.js') }}"></script>
</body>

</html>